@model BeyondThemes.BeyondAdmin.Models.OrderDetails

@{
    ViewBag.Title = "Orders";
    ViewBag.Description = "Customer Orders";
    Layout = "~/Views/Shared/_Default.cshtml";
}

<div class="col-md-6">
    <h2>Order Details</h2>
    <br />
    <p>Order ID: @Model.Order.OrderID</p>
    <p>Total Cost: @Model.Order.TotalCost.ToString()</p>
</div>

<div class="col-md-6">
    <h2>Order Items</h2>
    <br />
    <table class="table">
        <tr>
            <td>Item Name</td>
            <td>Quatity</td>
            <td>Cost</td>
        </tr>
        <tr>
            @foreach(var item in Model.Items)
            {
                <td>@item.Product.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
            }
        </tr>
    </table>
</div>

