@model BeyondThemes.BeyondAdmin.Models.Category

@{
    ViewBag.Title = "Edit Product Category";
    ViewBag.Description = "Product Categories";
    Layout = "~/Views/Shared/_Default.cshtml";
}

<h3>Edit Shipping Type</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger"})
        @Html.HiddenFor(m => m.CategoryID)

        <div class="form-group">
            <label class="control-label col-md-2">Name</label>
            <div class="col-md-5">
                @Html.EditorFor(m => m.CategoryName, new { htmlAttributes = new { @class = "form-control" }})
                @Html.ValidationMessageFor(m => m.CategoryName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Description</label>
            <div class="col-md-5">
                @Html.EditorFor(m => m.CategoryDesc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.CategoryDesc, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


